<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unichain.pay.dao.PayChannelMapper">
    <resultMap id="BaseResultMap" type="com.unichain.pay.entity.Channel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="channel_code" jdbcType="VARCHAR" property="channelCode"/>
        <result column="channel_name" jdbcType="VARCHAR" property="channelName"/>
        <result column="contacter" jdbcType="VARCHAR" property="contacter"/>
        <result column="contact" jdbcType="VARCHAR" property="contact"/>
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
        <result column="utime" jdbcType="TIMESTAMP" property="utime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="updator" jdbcType="VARCHAR" property="updator"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, channel_code, channel_name, contacter, contact, ctime, utime, creator, updator
  </sql>
</mapper>
