<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unichain.pay.dao.PayDirectiveMapper">
    <resultMap id="BaseResultMap" type="com.unichain.pay.entity.Directive">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <!--<result column="directive_code" jdbcType="VARCHAR" property="directiveCode" />
        <result column="directive_name" jdbcType="VARCHAR" property="directiveName" />
        <result column="directive_desc" jdbcType="VARCHAR" property="directiveDesc" />-->
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
        <result column="utime" jdbcType="TIMESTAMP" property="utime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="updator" jdbcType="VARCHAR" property="updator"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, directive_code, directive_name, directive_desc, ctime, utime, creator, updator
  </sql>
</mapper>
