<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unichain.pay.dao.PayRuleMapper">
    <resultMap id="BaseResultMap" type="com.unichain.pay.entity.PayRule">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="rule_code" jdbcType="VARCHAR" property="ruleCode"/>
        <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="rule_op" jdbcType="VARCHAR" property="ruleOp"/>
        <result column="rule_val" jdbcType="VARCHAR" property="ruleVal"/>
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
        <result column="utime" jdbcType="TIMESTAMP" property="utime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="updator" jdbcType="VARCHAR" property="updator"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, rule_code, rule_name, rule_op, rule_val, ctime, utime, creator, updator
  </sql>
</mapper>
